<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/project.css">

<h1 class="header">Programming Projects</h1>

<div class="projects-container row">
    <% if(projects.length){ %>
    <% projects.forEach(project => { %>
    <div class="mb-3 col-12">
        <div class="project card">
            <div class="card-body">
                <h3 class="card-title"><%= project.title %></h3>
                <% if(project.htmlDescription){ %>
                <%- project.htmlDescription %> 
                <% } else { %>  
                <p class="card-text"><%- project.description.replace(/[\r\n]/g, "<br>"); %></p>
                <% } %> 
                <a class="card-link btn btn-primary" href="<%= project.repository %>" target="_blank"> Repository </a>
                <% if(project.url){ %>
                <a class="card-link btn btn-secondary" href="<%= project.url %>" target="_blank"> Website </a>
                <% } %>
            </div>
        </div>
    </div>
    <% }) %>

</div>

<% } else { %>
<p class="text-muted"> Nothing </p>
<% } %>

</div>

<script>
    $("#projects-nav").addClass('current-nav');
</script>