<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/project.css">

<h1 class="header">Programming</h1>

<%- include('../partials/overview', {overview_post_url: "/projects/overview"}) %>
<hr>
<div class="projects-container row">
    <h2 class="col-12"> Personal Projects </h2>
    <h5 class="col-12">See more at <a target="_blank" href="https://github.com/khaidongduc">
            https://github.com/khaidongduc </a></h5>
    <% if(projects.length){ %>
    <% projects.forEach(project => { %>
    <div class="mb-3 col-12">
        <div class="project card">
            <div class="card-body">
                <h3 class="card-title"><%= project.title %></h3>
                <% if(project.htmlDescription){ %>
                <%- project.htmlDescription %>
                <% } else { %>
                <p class="card-text"><%- project.description.replace(/[\r\n]/g, "<br>"); %></p>
                <% } %>
                <a class="card-link btn btn-success" href="<%= project.repository %>" target="_blank"> Repository </a>
                <% if(project.url){ %>
                <a class="card-link btn btn-secondary" href="<%= project.url %>" target="_blank"> Website </a>
                <% } %>
                <% if(currentUser){ %>
                <% let modalData = {id: `Modal${project._id}`, title: `Deleting ${project.title}`, text: `Are you sure you want to delete ${project.title}?`, deleteRoute: `/projects/${project._id}`}; %>
                <div class="float-right">
                    <a class="card-link btn btn-warning" href="/projects/<%= project._id %>/edit">
                        Edit Project</a>
                    <button class="card-link btn btn-danger" data-toggle="modal" data-target="#<%= modalData.id %>">
                        Delete Project</button>
                </div>
                <%- include('../partials/delete-modal', modalData) %>
                <% } %>
            </div>
        </div>
    </div>
    <% }) %>
    <% if(currentUser){ %>
    <div class="mb-3 col-12 card border-0">
        <a class="card-link btn btn-primary" href="/projects/new">New Project</a>
    </div>
    <% } %>
</div>

<% } %>
</div>

<script>
    $("#projects-nav").addClass('current-nav');
</script>